
* {
	margin: 0;
	padding: 0;
}

body {
	background: #f2f2f2 ;
	font: robotoregular,normal robotoregular, "Times New Roman", Times, serif;
	color: #333333;
	font-family:robotoregular;
}
table{
font-size:12px;}
h1, h2, h3 {
	font-weight: normal;
}

h2 {
	font-size: 2em;
	color: #9E0000;
}

h3 {
color:#1f7898;
font-size:16px;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
}

p {
   font-size:12px;
}

blockquote {
	margin-left: 3em;
	font-style: italic;
}



ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}

a {
	color: black;
	text-decoration:none;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}
tr{margin:5px;}

#contents{
clear:both;
width:1024px;
margin:auto;
margin-top:5px;
padding-top:0px;
min-height:90px;
display:block;
position:relative;
}
.header{
background-color:#1f7898;
}
#logo , #searchbox {
   min-height: 100px;
   min-width: 326px;
   background-repeat: no-repeat;
   margin-left: 0px;
   background-image: url(logo1.png);
   min-width: 600px;
   float: left;}

#searchwrapper {
float:right;
width:148px; 
height:35px;
background:#1f7898;
background-repeat:no-repeat; 
padding:0px;
margin:20px 0px;
position:relative; 
right:100px;
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
border:0px; 
background-color:white;
position:absolute; 
top:4px;
left:9px;
width:216px;
height:30px;
font-family:robotoregular;
text-align:center;
border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
 
.searchbox_submit {
border:0px; 
background-color:#9acccd;
position:absolute; 
top:4px;
left:215px;
width:30px;
height:30px;
border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
#accordion-menu-1 {
clear: both;
position: relative;
border-top: 1px #999 solid;
border-bottom: 1px #999 solid;
margin-bottom: 10px;
min-height: 42px;
}
.accordion-menu-wrapper{
	height: auto !important;
}
#accordion-menu-1 div.ui-accordion-content ul li {
font-family: robotoregular;
font-size: 13px;
list-style: none;
}
#accordion-menu-1 div.ui-accordion-content > ul > li {
float: left;
padding-right: 0px;
padding-left: 0px;
list-style: none;
}
#accordion-menu-1 h3 {
position: absolute;
top: 12px;
background: inherit;
border: inherit;
color: inherit;
font-family:robotoregular;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 13px;
font-weight: 500;
color:black;
}
#accordion-menu-1 h3.accordion-header-1 {
left: 36px;
}
#accordion-menu-1 h3.accordion-header-2 {
left: 255px;
}
#accordion-menu-1 h3.accordion-header-3{
left: 478px;
}
#accordion-menu-1 h3.accordion-header-4{
left: 700px;
}
#accordion-menu-1 h3.accordion-header-5{
right: 36px;
}
#accordion-menu-1 h3.accordion-header-6{
right: 36px;
}

#accordion-menu-1 div.ui-accordion-content {
clear: both;
margin-top: 42px;
left: 0px;
background: inherit;
border: none;
border-top: 1px dotted #999;
padding: 15px 0 0px 0;
font-size: 0.85em;
letter-spacing: 0.5px;
}
/*erp list*/
#erp{
clear:both;
border-top: 2px #999 solid;
border-bottom: 2px #999 solid;
font-family: robotoregular;

color:#002142;
padding:13px 0;
padding-left:0px;
margin:0px 0px;
margin-top:10px;
margin-bottom:0px;


}

#list{
margin:auto;
width:1024px;

}
#erp ul{

margin-bottom:0px;
vertical-align:center;
}
#list li
{
font-size:0.8em;
height:3px;
display:inline;
list-style-type: none;
padding:0px 0;
padding-right:8px;
padding-left:4px;
border-right: solid #002142 1px;
}
#list li a{text-decoration:none; color:#002142;}
#list li a:hover{}
/*end of erp list*/
/*3 column*/
#right {
	float: right;
	width: 290px;
	padding: 0px;
	/*margin-bottom:20px;*/
}
#new_left
{
}
#new_right
{
float: right;
	width: 430px;
	padding: 0px;
	padding-left:0px;
	padding-right:0px;
}
#left {
	float: left;
	width: 430px;
	padding: 0px;
	padding-left:0px;
	padding-right:0px;
}
#middle {
	margin: 0 300px 0 440px;
	height:auto;
}
/*end of 3 column*/
.heading {
 /* background-color: #1f7898;*/
 
 position:relative;
   background:url(heading_background.png) repeat-x,url(arrow.png) no-repeat;
  min-height: 23px;
  color: white;
  font-weight: bold;
  font-family: robotoregular;
  padding-top: 6px;
  font-size: 13.5px;
  font-weight:normal;
  padding-left: 15px;
  padding-right: 15px;
  padding: 5px 15px 8px 12px;
  padding-bottom:11px;
}

.category {
position:relative;
width:100%;
  margin-left: 0px;
  float: left;
  display:block;

  background: url(round-shadow.png) no-repeat bottom left;
}
.category p{
padding:10px;
margin:0px;
font-size:12px;
line-height:1.2em;
}

.slimScrollDiv{

margin:10px 0;
}
.slimScrollBar ui-draggable{width:10px;}
#news p{
text-align:justify;
font-size:13px;
padding-right:15px;}

ul.tabs {
	margin: 0;
	padding-bottom: 20px;
	padding-top:5px;
	float: left;
	list-style: none;
	 /*--Set height of tabs--*/
	background: url(round-shadow.png) no-repeat bottom left;
	width: 100%;
}
ul.tabs li {
	float: left;
	border-right:solid #1f7898 2px ;
	
	
	
}
ul.tabs li a {
	
	color:#1f7898;
	display: block;
	font-size:12px;
	margin: 0 6px;
	
}
ul.tabs li:hover {
	
	color:black;
}

ul.tabs li a:hover {
	
	color:black;
}
html ul.tabs li.active, html ul.tabs li.active a:hover ,html ul.tabs li.active a { /*--Makes sure that the active tab does not listen to the hover properties--*/
	
	color:black;
	/*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	
	border-top: none;

	
	float: left; width: 100%;
	
}
.tab_content {
    position:relative;
	padding-bottom:10px;
	font-size: 13px;
	min-height:50px;}
pre{
font-size:10px;
}
#footer {
	clear: both;
	padding: 0px 20px;
	/*background: url(../commd/footer.jpg) repeat-x;*/
	background:#1f7898;
	height:30px;
	color:#ffffff;
	padding:0px 0px;
}

#footer p {
	margin: 0;
	text-align: center;
	padding:10px 0px;
	padding-bottom:0px;
	font-size:12px;
   
	}
#footer p a{
    color:#ffffff;
	text-decoration:none;
}	
ul.tabs1 {
	margin: 0;
	width:23%;
	padding-bottom: 20px;
	padding-top:5px;
	float: right;
	list-style: none;
	 /*--Set height of tabs--*/
	
	
}
ul.tabs1 li {
	/*float: left;*/
	
	margin:0px;
	margin-left:0px;
	padding:0;
	/*--Subtract 1px from the height of the unordered list--*/
	 /*--Vertically aligns the text within the tab--*/
	
	background:#85b4c6;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	
}
ul.tabs1 li a {
	/*text-transform: uppercase;*/
	text-decoration:none;
	color:white;
	display: block;
	padding:15px 0;
	font-size:12px;
	
	min-width:80px;
	text-align:center;
	
    background:#85b4c6;
	outline: none;
}
ul.tabs1 li a:hover {
	
	background:#9a9999;
}
html ul.tabs1 li.active, html ul.tabs1 li.active a:hover ,html ul.tabs1 li.active a { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background:#616161;
	
	/*--Makes the active tab look like it's connected with its content--*/
}
/*events*/
.news
{
	/*width: 100%;

	color: white;
	/*position: absolute;*/
	z-index: 999;
	height:105px;
	
	/*border-bottom: 1px dashed #6a6a6a;*/
}
h1
{

	font-size: 18px;
}
.circle-outer
{
	width: 56px;
	height: 56px;
	border-radius: 39px;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	text-align: center;
	vertical-align: middle;
	border: solid 8px #616161;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	background-color: #616161;
	color:white;
}
.circle
{
	width: 56px;
	height: 56px;
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	
}

.history
{
	padding: 5px 0;
	float: left;
	width: 5%;
	padding-left: 10px;
	padding-bottom:0px;
}
.description
{
	float: left;
	width: 85%;
	padding: 4px;
	font-size:12px;
	padding-top:8px;
}
.description .detail
{
	font-size: 12px;
	overflow: hidden;
	color:#B1B1B1;
}
.description .detail p{font-size:12px;}
.elipses, .day, .month
{
	display: block;
	height: 10px;
	font-size:10px;
}
.day, .month
{
	padding-top: 20px;
}
#topfooter{
width:100%;
margin-top:20px;
padding-top:15px;
background:#1f7898;
border-top: 3px #1f7898 solid;

overflow:hidden;
}

.block {
    font-size:12px;
    float:left;
    width: 300px;
	padding-right:10px;
	color:white;
	background:#1f7898;
}
.block_right{
    font-size:12px;
    float:right;
    width: 180px;
	color:white;
	background:#1f7898;
}
ul.linkfooter{
list-style: none;
margin:0;padding:0;}
ul.linkfooter li a{
font-size:12px;
text-decoration:none;
color:white;}
ul.linkfooter li a:hover{color:#9a9999;}

#newsrow
{
	z-index: auto;
	font-size: 12px;
	padding-top: 10px;

	margin-top: 2px;
}




#nxt
{
position:absolute;  right:5px ; top:210px;
background:black;
}



#jnxt
{
position:absolute; right:2px; top:120px;
background:black;
}


#nxt:hover
{
	cursor: pointer;

	
}
#jnxt:hover
{
	cursor: pointer;

	
}
#prev
{
position:absolute; right:35px; top:210px;
background:black;
}
#jprev
{
position:absolute;  right:35px; top:120px;
background:black;
}

#prev:hover
{
	cursor: pointer;
	

}
#jprev:hover
{
	cursor: pointer;
	

}
#snxt
{
position:absolute; 
right:2px;
top: 149px;
background:black;
}
#snxt:hover{
cursor:pointer;
}
#sprev
{
position:absolute;  right:35px;top:149px;
background:black;
}
#sprev:hover{
cursor:pointer;
}
#searchresults
{
	border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

#searchresults div
{
	border-bottom : 1px dotted;

font-size:11px;
	
}
#searchresults div:hover
{
	background-color : #9a9999;
}
#searchresults{
	overflow : auto;
	max-height : 200px;
	z-index: 1000;
}

#searchl
{
	position: absolute;
	top: 24px;
	left: 730px;
	display: none;
}
#maincontainer a {
line-height: 20px;
padding-bottom: 10px;
}
#sidebar {
	float: left;
	width: 218px;
	padding: 0px;
	padding-top:40px;
	padding-left:0px;
	padding-right:0px;
	top:150px;
}
#main {
	margin: 0 0px 0 250px;
	padding-top:30px;
	min-height:600px;
	top:150px;
}
.category {
width:100%;
  margin-left: 0px;
  float: left;
  /*border: solid #2b84ce 1px;*/
  display:block;
  margin-bottom:10px;
}
.category_list{
padding:10px 10px;
}
.category_list li {
   text-align:justify;
   list-style-type: solid circle;
   text-decoration: none;
   display:block;
  font-family: robotoregular;
  font-size: 13px;
  font-weight:none;
  padding-left:0px;
  text-transform:none;
}

.category_list a {
   text-decoration: none;
 
}

.category_list a:hover {
  text-decoration: none;
  color: #1f7898;
  font-size: 13px;
 
}
html ul.menus li.active a{
color:#1f7898;
}

#maincontent{
clear:both;
margin:auto;
margin-top:25px;
padding-top:0px;
min-height:0px;
display:block;
 position:relative;
/*border: solid red 2px;*/
}
#mainimg, #maindetails {
   min-height: 5px;
   min-width: 150px;
   background-repeat: no-repeat;
   margin-left: 0px;
}

#mainimg{
   
	 min-width: 150px;
	 float: left;
	 padding-left:10px;
	 color:#b44c4d;
}
#mainimg a{
   color:#1f7898;
   }
#mainimg img{
 border:solid #1b1b1b 10px;
 height:146px;
 width:111px;
}
#maindetails{
  float: left;
  width:600px;
  text-align:left;
  border: solid #2b84ce 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align:left;
  min-height:0px;
  padding:5px 0;
  color:#1b1b1b; 
  font-size:12px;
  
}
#maindetails p{
text-align:justify;
}
#maindetails h3{color:#4c4b49; font-weight:bold;}

/*newsboard*/
#upperbox
{
width:1024px;
height:300px;
margin-left:auto;
margin-right:auto;
}

#image
{
float:left;
width:510px;
height:300px;

}

#image img
{
width:510px;
height:300px;
}
.cont
{
width:490px;
height:45px;
padding-left:10px;
padding-top:10px;
padding-right:5px;
float:right;
background-color:#e6e6e6;
margin-bottom:6px;
font-size:14px;
}
.cont:hover
{
background-color:#1f7898;

cursor:pointer;

}

#menunews
{
clear:both;
margin-left:auto;
margin-right:auto;
width:700px;
}
#menunews a
{
text-decoration:none;
display:inline;
padding-right:10px;
padding-left:10px;
border-right:1px solid #4d4a4a;
font-size:120%;
color:#4d4a4a;
font-weight:bold;
font-family:robotoregular;
font-size:14px;

}
#menunews a.active{
color:#1f7898;
}
.cont1
{
clear:both;
width:1024px;
display:block;
position:relative;
border-top:1px solid;
padding-bottom:50px;
border-color:#6D7B8D;
margin-bottom:20px;


}  

.cont1:hover
{
	cursor: hand;
	opacity : 0.7;
}

.cont1 p , #content p
{
padding-top:15px;
color:#1f7898;
font-weight:normal;
font-size:13px;
margin-bottom:0px;

}




#slide{
height:72px;
overflow:hidden;
width:900px;
float:right;
margin-bottom:30px;
position:relative;
padding-top:-5px;
padding-right:50px;
cursor:pointer;
}

#content #slide{
	
	height: auto;
}

#slide p{text-align:justify;color:#141517;}
#slide p a{text-decoration:none;}
.#slide pre
{
color:#141517;
font-family:robotoregular;

}
#datahold
{
width:1024px;

margin-left:auto;
margin-right:auto;
}
#date
{
margin-right:10px;
float:left;
text-align:center;
valign:center;
background-color:#1f7898;
color:white;
width:60px;
height:50px;

}
#slide #more1
{
position:absolute;
bottom:-1px;
right:20px;
cursor:pointer;

z-index:1;
}

.lnding
{
	display: block;
	margin-left: auto;	
	margin-right: auto;
	margin-top: 57px;
	margin-bottom: 50px;
}

#moree
{
	text-align: center;
	margin-top: 57px;
	margin-bottom: 50px;
	font-family: robotoregular;
	font-size: 15px;
	font-weight: bold;
	color:#1f7898;
	
}

#moree:hover
{
	cursor: pointer;
}

			#overlay {
				position:fixed; 
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:#000;
				opacity:0.5;
				filter:alpha(opacity=50);
				z-index:10;
			}
			
			#modal {
				position:fixed;
				background:url(tint20.png) 0 0 repeat;
				background:rgba(0,0,0,0.2);
				border-radius:5px;
				//overflow-y:scroll;
				//max-height: 20px;
				//width: 100px;
				padding:8px;
				z-index:10;
			}
			
			#content {
			
				//border-radius:8px;
				background:#fff;
				overflow-y:scroll;
				//max-height: 200px;
				max-width: 1100px;
				padding:20px;
				z-index:10;

			}
			#close {
				position:absolute;
				background:url("close1.png") 0 0 no-repeat;
				width:24px;
				height:27px;
				display:block;
				text-indent:-9999px;
				top:-7px;
				right:-7px;
			}
